@import 'tailwindcss';

@theme {
	--font-serif: 'Inter', sans-serif;
	--text-md: text-base;

	--color-brand-blue: #102a27;
	--color-brand-brown: #53340c;
	--color-neutral-black: #020504;

	--rounded-brand: 20px;
}

@layer base {
	html {
		@apply scroll-smooth font-serif;
	}
}

@layer components {
	.section-container {
		@apply mx-auto w-full max-w-[1288px];
	}
	.action-link {
		@apply inline-flex size-[52px] min-w-fit shrink-0 items-center justify-center rounded-full bg-white p-4 transition-colors group-hover:bg-white/60 group-active:bg-white/10 group-active:text-white;
	}
}